.signin-container mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.error-message-container {
  color: red;
}

.signin-container {
  margin-bottom: 30px;
}

.router-link {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
