.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph-container,
mat-form-field {
  width: 500px;
  height: 500px;
}

.paragraph-container mat-form-field textarea {
  width: 100%;
  height: 450px;
  box-sizing: border-box;
}
