<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lieu</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button color="accent" routerLink="/">Home</button>
      <span *ngIf="authenticated && role === 'ADMIN'">
        <button mat-raised-button color="accent" routerLink="/admin">
          Admin
        </button>
      </span>
      <span *ngIf="authenticated">
        <button mat-raised-button color="accent" routerLink="/profile">
          Profile
        </button>
      </span>
      <span *ngIf="!authenticated">
        <button mat-raised-button color="accent" routerLink="/signin">
          Sign In
        </button>
        <button mat-raised-button color="accent" routerLink="/signup">
          Sign Up
        </button>
      </span>
      <span class="spacer"></span>
      <span *ngIf="authenticated">
        <button mat-raised-button color="warn" (click)="signOut()">
          Sign Out
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
