<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Lieu</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="spacer" *ngIf="authenticated$">
        <button mat-raised-button color="accent" routerLink="/logout">
          Logout
        </button>
      </span>
      <button mat-raised-button color="accent" routerLink="/signin">
        Sign In
      </button>
      <button mat-raised-button color="accent" routerLink="/signup">
        Sign Up
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
