table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.request-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.request-row:not(.expanded-row):active {
  background: #efefef;
}

request-row td {
  border-bottom-width: 0;
}

request-detail {
  overflow: hidden;
  display: flex;
}
