.signup-container {
  margin-bottom: 30px;
}

.signup-container mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.error-message-container {
  margin-top: 10px;
  color: red;
}
